*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
}

.container {
  border: 5px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 15px;
  padding: 5rem;
}

.time {
  font-size: 6rem;
  color: hsla(0, 0%, 100%, 0.8);
}
